<h1>Confirmação de Email</h1>
<p>Olá <%= @user.name %>,</p>
<p>Para confirmar seu email, clique no link abaixo:</p>
<p><a href="<%= @url %>">Confirmar Email</a></p>
<p>Se você não solicitou este email, por favor ignore esta mensagem.</p>
